* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background: #f4f6f8;
  color: #333;
}

button {
  /*border: none;*/
  cursor: pointer;  
  border-radius: 6px;
  padding: 8px 14px;
  font-size: 14px;
  transition: all 0.3s ease;
}



